<div class="header">
  <h1 class="site-title"><a href="{{ .Site.BaseURL }}">
    <object type="image/svg+xml" data="{{ .Site.Params.Logo }}"></object>
  </a></h1>
  <p class="site-tagline">{{ .Site.Params.Subtitle }}</p>
  <div class="nav">
    <a class="nav-btn" href="#">
      <span class="ci ci-burger"></span>
    </a>
    <ul class="nav-list">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{end}}
	  <li class="spacer">&ac;</li>
{{ with .Site.Params.GithubID }}
      <li><a href="https://github.com/{{.}}">Github</a></li>{{ end }} {{ with .Site.Params.MastodonId }}
      <li><a href="https://mastodon.radio/{{.}}">Mastodon</a></li>{{ end }} {{ with .Site.Params.TwitterID }}
      <li><a href="https://twitter.com/{{.}}">Twitter</a></li>{{ end }} {{ with .Site.Params.LinkedInID }}
      <li><a href="http://linkedin.com/in/{{.}}">LinkedIn</a></li>{{ end }} {{ with .Site.Params.QRZID }}
      <li><a href="https://www.qrz.com/db/{{.}}">QRZ</a></li>{{ end }}
    </ul>
  </div>
</div>

