<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <div class="container">
    {{ partial "header.html" . }}
    <div class="content">
      <div class="extra">
        {{ .Content }}
      </div>
      <div class="posts">
        {{ $paginator := .Paginate (where site.RegularPages "Type" "in" "toot") }} {{ range $paginator.Pages }}
        <div class="post">
          <h2 class="post-title"><a href="{{ .Permalink }}">Posted status:</a></h2>
          <span class="post-date">{{ .Date.Format "Jan 2, 2006" }}</span>
		  {{ if .Params.tags }}
			<span class="post-tags">
		  	{{ range .Params.tags }}
			          #<a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
		  	{{ end }}
		    </span>
		  {{ end }}
		  {{ if .Content }}
		  	<div class="summary">
                {{ .Content | safeHTML }}
                {{ if .Params.post_uri }}
                &rarr; View toot on <a class="read-more" href="{{.Params.post_uri}}">mastodon.radio</a>
                {{ end }}
			</div>
		   {{ end }}
        </div>
        {{ end }}
      </div>
      {{ partial "pagination.html" . }}
    </div>
    {{ partial "footer.html" . }}
  </div>
  <script src="{{ .Site.BaseURL }}js/slim.js"></script>
  {{ with .Site.Params.AnalyticsID }}{{ partial "analytics.html" . }}{{ end }}

</body>

</html>
